/* util */

:root{
  --primary-color: red;
  --secondary-color: blue;
}

/* Chat bubble button */
.open-chat{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* Chat box */
.chat-box{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* margin-right: -100%; */
  background-color: #fff;
}

.chat-box.show-chat-box{
  margin-right: 0;
}

.chat-box .chat-box-title{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.chat-box .chat-box-submit{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}